@charset "UTF-8";
html {
  background: url("/images/bg-bio-iglesias-dev-br.webp") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 88%;
}

.container-fullwidth {
  margin: 0 auto;
}

.container-fullwidth .row {
  padding-left: 15px;
  padding-right: 15px;
}

/* Sections */
section {
  padding: 80px 0;
  /* position: relative; */
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}

/* ----------------------------------------------------------------
Main Menu
-----------------------------------------------------------------*/

a .btn-opcoes {
  color: #fff !important;
}

.btn-opcoes {
  background-color: #1a6429 !important;
  border-color: #1a6429 !important;
  width: 300px;
  border-radius: 10px !important;
}

.btn-opcoes:hover {
  background-color: #155221 !important;
  border-color: #155221 !important;
}

/*  Typography */
/* ----------------------------------------------------------------
	Typography : Reset
-----------------------------------------------------------------*/
*,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* ----------------------------------------------------------------
	Typography : Font size
-----------------------------------------------------------------*/

@media all and (max-width: 768px) {
  html {
    font-size: 81.25%;
  }
}
body {
  font-size: 1rem;
  line-height: 1.65714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  color: #484848;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
  color: #1f1f1f;
  margin: 0;
  letter-spacing: 0.5px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  font-weight: 100;
}

h1,
.h1 {
  font-size: 3.14285714em;
  line-height: 1.31818182em;
}
h1:not(:last-child),
.h1:not(:last-child) {
  margin-bottom: 20px;
}

h2,
.h2 {
  font-size: 2.35714286em;
  line-height: 1.36363636em;
  font-weight: 500;
}
h2:not(:last-child),
.h2:not(:last-child) {
  margin-bottom: 16px;
}

h3,
.h3 {
  font-size: 1.78571429em;
  line-height: 1.5em;
  font-weight: 500;
}
h3:not(:last-child),
.h3:not(:last-child) {
  margin-bottom: 12px;
}

h4,
.h4 {
  font-size: 1.35714286em;
  line-height: 1.68421053em;
  font-weight: 600;
}
h4:not(:last-child),
.h4:not(:last-child) {
  margin-bottom: 8px;
}

h5,
.h5 {
  font-size: 1em;
  line-height: 1.85714286em;
  font-weight: 500;
}
h5:not(:last-child),
.h5:not(:last-child) {
  margin-bottom: 6px;
}

h6,
.h6 {
  font-size: 0.85714286em;
  line-height: 2.16666667em;
  font-weight: 500;
}
h6:not(:last-child),
.h6:not(:last-child) {
  margin-bottom: 6px;
}

.lead {
  font-weight: 400;
}

@media all and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.35714286em;
    line-height: 1.36363636em;
  }

  h2,
  .h2 {
    font-size: 1.78571429em;
    line-height: 1.5em;
  }

  h3,
  .h3 {
    font-size: 1.35714286em;
    line-height: 1.85714286em;
  }

  .lead {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
  }
}
.display-4 {
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  line-height: 1.7;
  letter-spacing: 0;
  color: #777777;
  font-family: "Poppins", sans-serif;
}

ul.bullets {
  list-style: inside;
}

strong {
  font-weight: 600;
}

del {
  text-decoration-line: line-through;
}

.copyright-content {
  margin-top: 100px;
  color: #fff;
  font-size: 10px;
}

.copyright-content a {
  color: #fff;
}

.text-center {
  text-align: center;
}

/*estilo-botao*/
button.btn,
.btn:not(.close):not(.mfp-close),
a.btn:not([href]):not([tabindex]) {
  font-family: "Poppins", sans-serif;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  outline: none;
  padding: 12px 18px;
  position: relative;
  background-color: #2250fc;
  border-color: #2250fc;
  border-width: 1px;
  border-style: solid;
  color: #ffffff;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: none;
  line-height: 14px;
  cursor: pointer;
}

.disabled .btn {
  opacity: 0.3;
}

.line {
  border-top: 0;
  color: rgba(255, 255, 255, 0.95);
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .line {
    white-space: pre-wrap;
  }
}

footer a,
footer a:hover,
footer a:visited {
  color: rgba(255, 255, 255, 1);
  text-decoration: inherit;
}

.blinking-cursor {
  font-weight: 400;
  font-size: 2em;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
